{% extends "overview.html" %}
{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
     {%if messages %}
          {%for category, message in messages %}
            <div class="alert alert-{{ category }}">
               <h4 style="text-align:center;">{{ message }}</h4>
            </div>
          {%endfor%}
    {%endif %}
  {%endwith%}
</div>
<div class="container">

<h1>Kit</h1>
<div >
  <h3 style="display: inline-block;margin:0;"> Ajouter des kits</h3>
  <button type="button" class="btn btn-add" data-toggle="modal" data-target="#exampleModal">
   <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Add Kit</button>
</div>

<!-- Modal code-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Add kit</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form  action="" method="POST">
          {{ form.csrf_token() }}
          {{form.price.label(class="form-control-label")}}<br>
          {{form.price(class="form-control form-control-lg")}}
          {{form.qty.label(class="form-control-label")}}<br>
          {{form.qty(class="form-control form-control-lg")}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div >
          {{ form.kitsubmit(class="btn btn-primary") }}
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!--end of modal design-->

<table class="table table-hover" id="example">
<thead>
 <tr>
   <th>ID</th>
   <th>Prix</th>
   <th>Quantité</th>
   <th></th>
   <th></th>
 </tr>
</thead>
<tbody>
  {% for d in kits %}
  <tr>
    <td>{{d.id}}</td>
    <td>{{d.price}}</td>
    <td>{{d.qty}}</td>
   <td>
       <button type="button" class="btn btn-edit" data-toggle="modal" data-target ="#edit{{d.id}}">
       <span class="btn-icon"><i class="glyphicon glyphicon-pencil"></i></span>Edit</button>
   </td>
   <!--editmodal-->
   <div class="modal fade" id="edit{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="margin-top:150px;">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h3 class="modal-title" id="edit">Edit Kit</h3>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div id="modal-cont" class="modal-body" >
        <form  action="" method="POST">
          <input type="hidden" name="id" value="{{d.id}}"/>
             {{ eform.csrf_token() }}
             {{eform.price.label(class="form-control-label")}}<br>
             {{ eform.price(class="form-control form-control-lg",placeholder=d.price) }}
             {{eform.qty.label(class="form-control-label")}}<br>
             {{ eform.qty(class="form-control form-control-lg",placeholder=d.qty) }}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <div>
             {{ eform.kiteditsubmit(class="btn btn-primary") }}
           </div>
         </div>
       </form>
      </div>
    </div>

   </div>
   <!--editmodal end-->
   <td>
       {% if current_user.admin %}
      <a href="{{ url_for('delete', id = d.id,type ='kit' )}}">
       <button type="button" class="btn btn-delete">
       <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button>
          {% endif %}
   </td>
 </tr>
{% endfor %}
</tbody>

</table>
</div>
{% endblock content %}
