{% extends "overview.html" %}
{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
       {%if messages %}
            {%for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <h4 style="text-align:center;">{{ message }}</h4>
              </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div class="container">

<h1>Marges</h1>
<div >
  <h3 style="display: inline-block;margin:0;"> Gérer vos marges</h3>
  <button type="button" class="btn btn-add" data-toggle="modal" data-target="#exampleModal">
   <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Configurer une marge</button>
</div>

<!-- Modal code-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h3 class="modal-title" id="exampleModalLabel">Ajout de Marge</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="" method="post" id="sells">
          {{ form.csrf_token() }}

            {{form.mprodname.label(class="form-control-label")}}<br>
              <div id="prod">
            {{form.mprodname(class="form-control form-control-lg")}}
          </div>
          <div id="to">
          {{form.location.label(class="form-control-label")}}<br>
          {{form.location(class="form-control form-control-lg")}}
          </div>

            {{form.value.label(class="form-control-label")}}<br>
          <div class="qty">
            {{form.value(class="form-control form-control-lg") }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="move" >
          {{ form.marginsubmit(class="btn btn-primary") }}
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!--end of modal design-->

<table class="table table-hover" id="example">
<caption><h2><b>Quantité totale:</b> {{ total }} <br> <b>Prix totale:</b> {{ prix }} F CFA</h2></caption>
<thead>
 <tr>
   <th>ID</th>
   <th>Boisson</th>
   <th>Emplacement</th>
   <th>Marge</th>
     <th></th>
     <th></th>
 </tr>
</thead>
<tbody>
{%for d in margins%}
 <tr>
   <td>{{d.id}}</td>
   <td>{{d.product.prod_name}}</td>
   <td>{{d.location.loc_name}}</td>
   <td>{{d.value}}</td>
     <td>{{d.created_at}}</td>
 <td>

       <button type="button" class="btn btn-edit" data-toggle="modal" data-target = "#edit{{d.id}}" >
       <span class="btn-icon"><i class="glyphicon glyphicon-pencil"></i></span>Edit</button>

   </td>
     <div class="modal fade" id="edit{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h3 class="modal-title" id="exampleModalLabel">Editer Marge</h3>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div id="modal-cont" class="modal-body" >
           <form  action="" method="POST" id="products">
             <input type="hidden" name="marginid" value="{{d.id}}"/>
             {{ eform.csrf_token() }}
               {{eform.mprodname.label(class="form-control-label")}}<br>
               {{ eform.mprodname(class="form-control form-control-lg") }}
               {{eform.location.label(class="form-control-label")}}<br>
             {{ eform.location(class="form-control form-control-lg") }}
               {{eform.value.label(class="form-control-label")}}<br>
             {{ eform.value(class="form-control form-control-lg",placeholder=d.value) }}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <div >
              <!--<a href="{{ url_for('margin', p_id = d.id) }}">-->
             {{ eform.marginsubmit(class="btn btn-primary") }}
             <!--</a>-->
           </div>
         </div>
       </form>
      </div>
    </div>

   </div>
 <td>
     {% if current_user.admin %}
      <a href="{{ url_for('delete', p_id = d.id,type ='margin') }}">
       <button type="button" class="btn btn-delete">
       <span class="btn-icon"><i class="glyphicon glyphicon-trash"></i></span>Delete</button></a>
     {% endif %}
   </td>
 </tr>
 {% endfor %}
</tbody>
</table>
</div>

{% endblock content %}

{% block script %}
    <script type="text/javascript">
 $(document).ready(function() {
  console.log("Edit marge","started...");
  $("#")
});
    </script>
{% endblock script %}
