{% extends "overview.html" %}
{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
       {%if messages %}
            {%for category, message in messages %}
              <div class="alert alert-{{ category }}">
                <h4 style="text-align:center;">{{ message }}</h4>
              </div>
            {%endfor%}
      {%endif %}
    {%endwith%}
  </div>
  <div class="container">

<h1>Ventes</h1>
   <h3 style="display: inline-block;margin:0;"> Gestion de la vente de vos boissons</h3>
<div class="row">
  <button type="button" class="btn btn-add" data-toggle="modal" data-target="#exampleModal">
      <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>vente simple</button><p>&nbsp;</p>
    <button type="button" class="btn btn-add" data-toggle="modal" data-target="#exampleModalkit">
   <span class="btn-icon-add"><i class="glyphicon glyphicon-plus"></i></span>Vente par kit</button><p>&nbsp;</p>
</div>

<!-- Modal code-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h3 class="modal-title" id="exampleModalLabel">Sell Product</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="{{ url_for('sell') }}" method="post" id="sells">
          {{ form.csrf_token() }}

            {{form.product.label(class="form-control-label")}}<br>
              <div id="prod">
            {{form.product(class="form-control form-control-lg")}}
          </div>

             {{form.location.label(class="form-control-label")}}<br>
              <div id="prod">
            {{form.location(class="form-control form-control-lg")}}
          </div>

          <div id="from">
          {{form.credit.label(class="form-control-label")}}<br>
          {{form.credit(class="form-control form-control-lg")}}
          </div>

            {{form.prodqty.label(class="form-control-label")}}<br>
          <div class="qty">
            {{form.prodqty(class="form-control form-control-lg") }}
          </div>
             {{form.person.label(class="form-control-label")}}<br>
          <div class="qty">
            {{form.person(class="form-control form-control-lg") }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="move" >
          {{ form.sellsubmit(class="btn btn-primary") }}
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!--end of modal design-->

  <!-- Modal code-->
<div class="modal fade" id="exampleModalkit" tabindex="-1" role="dialog" aria-labelledby="exampleModalkit" aria-hidden="true" style="margin-top:150px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h3 class="modal-title" id="exampleModalLabel">Sell Product</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  action="{{ url_for('sell') }}" method="post" id="sellkits">
          {{ kitform.csrf_token() }}

            {{kitform.product.label(class="form-control-label")}}<br>
              <div id="prod">
            {{kitform.product(class="form-control form-control-lg")}}
          </div>

            {{kitform.kit.label(class="form-control-label")}}<br>
              <div id="prod">
            {{kitform.kit(class="form-control form-control-lg")}}
          </div>

             {{kitform.location.label(class="form-control-label")}}<br>
              <div id="prod">
            {{kitform.location(class="form-control form-control-lg")}}
          </div>

          <div id="from">
          {{kitform.credit.label(class="form-control-label")}}<br>
          {{kitform.credit(class="form-control form-control-lg")}}
          </div>

            {{kitform.kitqty.label(class="form-control-label")}}<br>
          <div class="qty">
            {{kitform.kitqty(class="form-control form-control-lg") }}
          </div>
             {{kitform.person.label(class="form-control-label")}}<br>
          <div class="qty">
            {{kitform.person(class="form-control form-control-lg") }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <div class="move" >
          {{ kitform.sellkitsubmit(class="btn btn-primary") }}
       </div>
      </div>
    </form>
    </div>
  </div>
</div>
<!--end of modal design-->

<h2><b>Cave</b></h2>
<table class="table table-hover" id="example">
 <caption><h2><b>Montant total:</b> {{ v_cave }}</h2></caption>
<thead>
 <tr>
   <th>N°</th>
   <th>Client</th>
   <th>Boisson</th>
   <th>Quantité </th>
   <th>Prix</th>
   <th>a Crédit</th>
   <th>Date</th>
 </tr>
</thead>
<tbody>
{%for d in sells%}
    {% if d.location.loc_name=="Cave" %}
 <tr>
   <td>{{d.id}}</td>
   <td>{{d.person.name}}</td>
   <td>{{d.product.prod_name}}</td>
   <td>{{d.qty}}</td>
   <td>{{(d.price)}}</td>
   <td>
       {%- if d.credit -%}
           Oui
           {% else %}
           Non
       {% endif %}
   </td>
 <td>{{d.date}}</td>
 </tr>
    {% endif %}
 {% endfor %}
</tbody>
</table>
  <hr>
  <h2><b>Bar</b></h2>
<table class="table table-hover" id="example">
<caption><h2><b>Montant total:</b> {{ v_bar }}</h2></caption>
<thead>
 <tr>
   <th>N°</th>
   <th>Client</th>
   <th>Boisson</th>
   <th>Quantité </th>
   <th>Prix</th>
   <th>a Crédit</th>
   <th>Date</th>
 </tr>
</thead>
<tbody>
{%for d in sells%}
    {% if d.location.loc_name=="Bar" %}
 <tr>
   <td>{{d.id}}</td>
   <td>{{d.person.name}}</td>
   <td>{{d.product.prod_name}}</td>
   <td>{{d.qty}}</td>
   <td>{{(d.price)}}</td>
   <td>
       {%- if d.credit -%}
           Oui
           {% else %}
           Non
       {% endif %}
   </td>
 <td>{{d.date}}</td>
 </tr>
    {% endif %}
 {% endfor %}
</tbody>
</table>
<hr>
  <h2><b>Cumul des montant:</b> {{ v_cave+v_bar }}</h2>
</div>


{% endblock content %}
